body {
    margin: 0;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(94, 91, 93, 0.75), rgba(0, 0, 0, 0));
}

h5 {
    margin-bottom: 15px;
}

footer {
    color: #fff;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    background-color: #0e4964;

}

.content {
    font-family: 'Work Sans', sans-serif;
    margin: auto;
    width: 65%;
}

.header-title {
    margin-top: 5%;
    width: 100%;
}

.header-title h1 {
    margin: 0;
    color: f000;
    text-shadow: 1px 1px grey;
    font-size: 3.5em;
    font-weight: 800;
}

.header-title p {
    font-size: 0.9em;
    margin: 25px 50px;
}

.highlight {
    color:#0e4964;
}

.header-title h2 {
    margin: 0;
    color: #000;
}

.header-paragraph {
    color: #ECCCE9;
}

.header-links i {
    margin: 10px 5px;
    color: white;
    font-size: 1.5em;
    color: #000;
}

.header-links i:hover {
    color:#0e4964;
}

.box-container-1 {
    border-top: 1px solid #5e5b5d; 
    border-bottom: 1px solid rgb(94, 91, 93);  
    display: flex;
}

.box-container-1 p {
    font-size: 0.9em;
}

.left {
    padding: 0px 40px 20px;
    width: 65%;
}

.left h3, h4 {
    margin: 0;
    padding: 0;
}

.left h5 {
    padding: 0;
    margin: 0 0 .5rem 0;
}

.right {
    padding: 0px 40px 20px;
    width: 35%;
}

.right ul li {
    font-size: 0.9em;
}

.projects-title {
    margin-top: 0px;
    text-align: center;
    padding: 20px;
}

.box-container-2 img {
    max-width: 100%;
    max-height: 100%;
}

.box-container-2 {
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box-container-2 h3 {
    text-align: center;
    margin: 10px;
}

.box-container-2 p {
    margin-top: 0;
    text-align: center;
}

.box-container-2 a {
    text-decoration: none;
    color:#0e4964;
}

.box-container-2 a:visited {
    text-decoration: none;
    color:#0e4964;
}

.box-container-2 .box {
    width: 25%;
}

@media only screen and (max-width : 768px) {
    .content {
        width: 100%;
        overflow: hidden;
    }

}

@media only screen and (max-width : 580px) {
    body {
        margin: 0 .5rem;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .box-container-1 {
        padding: 0;
        margin: 0;
        flex-direction: column;
        text-align: center;
    }

    .left {
        padding: 20px 0px 0px 0px;
        width: 100%;
    }
    
    .right {
        padding: 0px 0px 30px 0px;
        width: 100%;
    }

    .box-container-2 {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .box-container-2 .box {
        margin-bottom: 10px;
        width: 60%;
    }

}
